environment          = "lab"
region               = "us-east-1"
security_account_id  = "000000000000"
workload_account_id  = "000000000000"
security_account_role_arn = "arn:aws:iam::000000000000:role/example-terraform-deploy"
workload_account_role_arn = "arn:aws:iam::000000000000:role/example-terraform-deploy"
allowed_terraform_principal_arn      = "arn:aws:iam::000000000000:role/example-terraform-principal"
allowed_security_admin_principal_arn = "arn:aws:iam::000000000000:role/example-security-admin"
enable_lab_environment = true
cost_alert_email = null
telemetry_reserved_concurrency = -1
baseline_reserved_concurrency  = -1
